
.card{
    text-align: center;
    justify-content: center;
    display: flexbox;
    height: auto;
    width: 250;
    border: 1px black solid;
    margin-right: 10px;
}


.img-wrapper{
    text-align: center;
}

.pokemon-img{
    text-align: center;
    width: 98px;
    height: auto;
}

.card:hover{
    cursor: pointer;
}

.name{
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 20px;
}