<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">

            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/trainer">Your page</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/pokemon">Pokemons</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
