<h1>Login To Survey Poodle</h1>
<form>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username..." [(ngModel)]="user.username">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" placeholder="Enter your password..." [(ngModel)]="user.password">
    </div>

    <br>
    <button (click)="onLoginClicked()" type="button">Login</button>
</form>

<br>
<a routerLink="/register">I don't have an account, Register now</a>