<div class="card">
    <div class="img-wrapper">
        <img class="card-img-top pokemon-img" src="{{pokemon.sprites.front_default}}" alt="">
    </div>
    <h1 class="name">{{pokemon.name}}</h1>
    <button class="btn btn-primary" (click)="onCollectClick()"> Collect {{pokemon.name}}</button>

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-2">
        <li [ngbNavItem]="1">
            <a ngbNavLink>General</a>
            <ng-template ngbNavContent>
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8">
                            <h2 class="text-center">Stats</h2>
                        </div>
                        <div class="col-sm-4">
                            <h2 class="text-center">Types</h2>
                        </div>
                    </div>

                    <div class="row justify-content-center">

                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6 " *ngFor="let stat of pokemon.stats">
                                    {{stat.stat.name}}: {{stat.base_stat}}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 justify-content-center">
                            <div class="row">
                                <div class="col-sm-6 justify-content-center text-center"
                                    *ngFor="let type of pokemon.types">
                                    {{type.type.name}}

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Information</a>
            <ng-template ngbNavContent>
                <div>
                    <div>Height: {{pokemon.height/10}} m</div>
                    <div>Weight: {{pokemon.weight/10}} kg</div>
                    <div>Exp: {{pokemon.base_experience}}</div>
                    <div>Abilities:
                        <div *ngFor="let ability of pokemon.abilities">
                            {{ability.ability.name}}
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink>Moves</a>
            <ng-template ngbNavContent>
                <div class="container">
                    <div class="row justify-content-center mb-3">
                        <h2>Moves</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-4 justify-content-center"
                            *ngFor="let move of moves | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <div class="d-flex justify-content-center move-name ">{{move.move.name}}</div>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <ngb-pagination [collectionSize]="pokemon.moves.length" [(page)]="page" [maxSize]="5"
                                [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>