<div class="card">
    <div class="img-wrapper">
        <img class="card-img-top pokemon-img" src="{{pokemon.sprites.front_default}}" alt="">
    </div>
    <h1 class="name">{{pokemon.name}}</h1>
    <button class="btn btn-primary" (click)="onCollectClick()"> Collect {{pokemon.name}}</button>

    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-2">
        <li [ngbNavItem]="1">
            <a ngbNavLink>General</a>
            <ng-template ngbNavContent>
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 mb-3">
                            <h2 class="text-center">Stats</h2>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <h2 class="text-center">Types</h2>
                        </div>
                    </div>

                    <div class="row justify-content-center">

                        <div class="col-sm-8">
                            <div class="row text-center">
                                <div class="col-sm-6" *ngFor="let stat of pokemon.stats">
                                    <div class="box">
                                        {{stat.stat.name}}: {{stat.base_stat}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 justify-content-center">
                            <div class="row text-center justify-content-center">
                                <div class="col-sm-12 justify-content-center" *ngFor="let type of pokemon.types">
                                    <div class="box">
                                        {{type.type.name}}
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Information</a>
            <ng-template ngbNavContent>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 text-center">
                            <h2>Information</h2>
                        </div>
                        <div class="col-sm-6 text-center">
                            <h2>Abilities</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row justify-content-center text-center">
                                <div class="col-sm-12">
                                    <div class="box">
                                        Height: {{pokemon.height/10}}m
                                    </div>
                                    <div class="box">Weight: {{pokemon.weight/10}}kg</div>
                                    <div class="box">Exp: {{pokemon.base_experience}}</div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">

                            <div class="row justify-content center text-center">
                                <div class="col-sm-12">
                                    <div class="box" *ngFor="let ability of pokemon.abilities">
                                        {{ability.ability.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink>Moves</a>
            <ng-template ngbNavContent>
                <div class="container">
                    <div class="row justify-content-center mb-3">
                        <h2>Moves</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-4 justify-content-center"
                            *ngFor="let move of moves | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <div class="d-flex justify-content-center box">{{move.move.name}}</div>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="d-flex justify-content-center mt-3">
                            <ngb-pagination [collectionSize]="moves.length" [pageSize]="pageSize" [(page)]="page"
                                [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>